---
layout: layout
---
<!-- Navbar header -->
{% include header.html %}

<div class="container">
	<div class="blog-post">
		<h3>
		  <strong><a href="{{ page.url }}">{{ page.title }}</a></strong>
		</h3>
	</div>
	<div class="blog-title">
		<h4>
		{{ page.date | date: "%B %e, %Y" }}
			&nbsp;&nbsp;
			{% for tag in page.tags %}
			 <span class="label label-success">{{ tag }}</span>
			{% endfor %}
		</h4>
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="blogpost">
			  {{ content }}
			  <hr>
		        <div align="center" style="margin-top:60px;margin-bottom: 60px;"><a href="#" class="btn btn-warning" role="button">Get a portfolio idea like this in your mailbox every month.</a></div>

			   <p class="well">
			   My philosophy: If you want to invest and your goal is to try to beat the market, you need a system. You need a system
			   that can decide for you what to buy, when to sell and not to panic when things go down. Everything starts with selecting
			   stock. You should not just select random stock here and there based on whims or things you read. No, create a system that
			   suites your style and follow it. These posts give you example of what such a stock selection could look like.
			   	</p>
			   	<a href="http://www.unclestock.com/?referrer=5693737131835392">
			   Unless otherwise noted, I do all my research through the Uncle Stock screener. It's a 
			   great tool to have in your belt. (note: this is an affiliate link, if you sign up, I get a
			   commision)
				</a>
			   <p class="bg-warning">
			   Disclaimer: Don't believe anything I say or write. Always do your own research before making any investment decisions.
				</p>
			</div>
		</div>
	</div>
</div>
